.header {
  background-color: #ededed;
  height: 80px;
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;

    .options {
      padding: 10px 15px;
    }
    .options:last-child {
      padding-right: 10%;
    }
  }
}
